<!DOCTYPE html>
<html>
    <head>
        <!--Assigned to Ryan-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/productDescription_Admin.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Description (Admin)</title>
        <!--Description page for a single product-->
        <!--Shows product attributes that are only visible to Admins-->
    </head>
    <body>
        <div class="page-container">
            <div class="logo-container"> <!--Website Logo-->
                <a href="#"><img class="logo" src="/images/BXlogo.png" alt="Logo"></a> <!--The logo link should send you to the homepage-->
            </div>

            <%- include('../partials/admin_NavBar') %>

            <div class="outermost-shell"> <!--Contains all the input boxes and buttons-->
                <div class="left-outer-shell"> <!--Contains input images & image scrollbar-->
                    <a href="#"><img class="image" src="https://drive.google.com/uc?export=view&id=<%= product.images[0] %>"></a>
                    <div class="scroll-image">
                        <!-- <a href="#"><img class="addimage" src="/images/spin_dryer.jpg"></a>
                        <a href="#"><img class="addimage" src="/images/spin_dryer.jpg"></a>
                        <a href="#"><img class="addimage" src="/images/spin_dryer.jpg"></a> -->
                    </div>
                </div>
                <div class="right-outer shell">
                    <div class="right-inner-shell-row-1"> <!--Product Name-->
                        <a class="product-name"><%= product.name %></a>
                    </div>
                    <div class="right-inner-shell-row-2"> <!--Price & Discount Tag-->
                        <!-- <a class="price">₱ <s>XX.XX</s> ₱ XX.XX</a> -->
                        <a class="price">₱ <%= product.price %></a>
                        <!-- <div class="discount-tag">
                            <a class="discount-text"><p>44% OFF</p></a>
                        </div> -->
                    </div>
                    <div class="right-inner-shell-row-3"> <!--Quantity, Add to Cart, & Buy Now Buttons-->
                        <a href="#"><img class="minus" src="/images/minus.png"></a>
                        <div class="quantity">
                            <a class="quantity-text"><p>5</p></a>
                        </div>
                        <a href="#"><img class="plus" src="/images/plus.png"></a>
                        <a class="stock-available-text"><%= product.quantity %></a>
                        <!--Listed & Unlisted Field-->
                        <a class="list-status-text">Listed</a>
                        <a class="unlisted-status-text">Unlisted</a>
                    </div>
                    <hr class="line-divider">
                    <div class="right-inner-shell-row-4"> <!---->
                        <a class="product-type">PRODUCT TYPE</a>
                    </div>
                    <div class="right-inner-shell-row-5"> <!---->
                        <a class="product-brand"><%= product.brand %></a>
                    </div>
                    <hr class="line-divider">
                    <div class="right-inner-shell-row-6"> <!---->
                        <a class="product-description">
                            <!-- PRODUCT DESCRIPTION...<br>
                            PRODUCT DESCRIPTION...<br>
                            PRODUCT DESCRIPTION...<br>
                            PRODUCT DESCRIPTION...<br>
                            PRODUCT DESCRIPTION... -->
                            <%= product.description %>
                        </a>
                    </div>
                    <hr class="line-divider">
                    <div class="right-inner-shell-row-7"> <!--Discard Changess & Save Buttons-->
                        <button id="edit-btn" class="edit-button" productId="<%= product._id %>">Edit Product Details</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.getElementById('edit-btn').addEventListener('click', () =>{
                window.location.href = '/admin/products/edit/' + event.target.getAttribute('productId');
            })
        </script>

    </body>
</html>