<div class="listing-checkbox-split"> <!--Contains a single product listing-->
    <div class="product-listing">
        <div class="left-inner-shell">
            <a href="#"><img class="product-image" src="https://drive.google.com/uc?export=view&id=<%= product.images[0] %>"></a>
        </div>
        <div class="center-inner-shell">
            <a class="product-details">
                <%= product.name %> | <%= product.brand %> | <%= product.totalQuantity %> Total Quantity %> | <%= product.availableQuantity %> Available Quantity %>
            </a>
            <hr clas="hr-product">
            <a class="price">
                P <%= product.price %>
            </a>
        </div>
        <div class="right-inner-shell">
            <div class="edit-button">
                <a class="edit-text" href="#">Edit</a>
            </div>
        </div>
    </div>
    <input type="checkbox" class="checkbox" value="productname">
</div>