<div class="listing-checkbox-split"> <!--Contains a single product listing-->
    <div class="product-listing">
        <div class="left-inner-shell">
            <a href="/login"> <!--href links to products info page-->
                <img class="product-image" src="https://drive.google.com/uc?export=view&id=<%= product.images[0] %>">
            </a>
        </div>
        <div class="center-inner-shell">
            <a class="product-details">
                <%= product.name %> | <%= product.brand %> | Type | <%= product.totalQuantity %> Stock Available
            </a>
            <hr clas="hr-product">
            <a class="price">
                ₱ <%= product.price %>
            </a>
        </div>
    </div>
</div>